body {
  line-height: 150%;
}

table {
  border-spacing: 1px;
  background-color: black;
  white-space: nowrap;
}

td:first-child, th:first-child {
  left: 0;
  position: sticky;
} 

td, th {
  text-align: center;
  font-weight: normal;
  padding: 4px;
  background-color: white;
}

h2 {
  display: inline;
  margin-right: 1ch;
}

input {
  text-align: center;
}

#settings>*, main>* {
  margin-top: 0.5em;
}

.disabledLink {
  color: gray;
  cursor: not-allowed;
}

#sizeX, #sizeY, #sizeZ {
  width: 2.5ch;
}

#fuelBasePower, #fuelBaseHeat {
  width: 8.5ch;
}

.tables {
  overflow-x: auto;
}

#blockType>:not(:first-child) {
  font-family: monospace;
  font-weight: bold;
  font-size: 135%;
}

#rate input, #limit input, #activeRate input, #activeLimit input {
  width: 5.5ch;
}

.Wt {color: dodgerblue;}
.Rs {color: red;}
.He {color: lightcoral;}
.Ed {color: teal;}
.Cr {color: deepskyBlue;}
.Qz {color: lightgray;}
.Au {color: gold;}
.Gs {color: #dc0;}
.Lp {color: blue;}
.Dm {color: powderblue;}
.Fe {color: wheat;}
.Em {color: green;}
.Cu {color: brown;}
.Sn {color: lightsteelblue;}
.Mg {color: pink;}
.Mn {color: #aaafcc;}
.En {color: #ecf8b4;}
.As {color: #8f9284;}
.Pm {color: mediumaquamarine;}
.Ob {color: indigo;}
.Al {color: #d4f4e9;}
.Vi {color: #9a7161;}
.Bo {color: silver;}
.Ag {color: mistyrose;}
.Fl {color: #8dae99;}
.Nr {color: maroon;}
.Pb {color: darkslategray;}
.Pr {color: mediumorchid;}
.Sm {color: lightgreen;}
.Li {color: lavender;}
.Nt {color: #42a649;}
.air {color: white;}
.cell {color: gray;}
.mod {color: black;}

#temperature {
  width: 4.5ch;
}

.configs input[type="text"] {
  width: 12ch;
}

#design>* {
  float: left;
  border: 1px solid black;
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: sans-serif;
}

#design>:first-child {
  min-width: 20em;
}

.info {
  position: relative;
}

.info>:nth-child(1) {
  position: absolute;
  left: 0px;
}

.info>:nth-child(2) {
  position: absolute;
  right: 0px;
}

.row {
  font-family: monospace;
  font-weight: bold;
  font-size: 120%;
}
